#gallery{
    margin-top: 100px;
}

.gallery{
    height: 800px;
    width: 100%;
    text-align: center;
}

.title{
    width: auto;
    height: 60px;
    h2{
        @include PrimaryFont(54px, 400, 54px);
        color: black;

        span{
            color: #D67E34;
        }
    }
}

.grid-gallery{
    margin-top: 100px;
    width: 100%;
    height: 575px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 30px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

}

.gallery__img:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}

.gallery__item--1 {
    grid-column: 1/3;
    grid-row: 1/2;
    transition: transform .5s ease;
    overflow: hidden;
}

.gallery__item--2 {
    grid-column: 1/2;
    grid-row: 2/3;
    transition: transform .5s ease;
    overflow: hidden;
}

.gallery__item--3 {
    grid-column: 2/3;
    grid-row: 2/3;
    transition: transform .5s ease;
    overflow: hidden;
}

.gallery__item--4 {
    grid-column: 3/5;
    grid-row: 2/3;
    transition: transform .5s ease;
    overflow: hidden;
}

.gallery__item--5 {
    grid-column: 3/4;
    grid-row: 1/2;
    transition: transform .5s ease;
    overflow: hidden;
}

.gallery__item--6 {
    grid-column: 4/5;
    grid-row: 1/2;
    transition: transform .5s ease;
    overflow: hidden;
}


// RWD 320px ======================

@media only screen and (max-width:320px){
    #gallery{
        width: 320px;
        height: 2100px;
        margin-top: 100px;
    }
    
    .gallery{
        width: 320px;
        padding: 0 10px;
        text-align: center;
    }
    
    .title{
        width: 145px;
        height: 92px;
        text-align: center;
        
        h2{
            @include PrimaryFont(40px, 400, 46px);
            @include flexStyle(center, center, column);
            width: 145px;
            margin: 0 auto;
            color: black;
    
            span{
                color: #D67E34;
            }
        }
    }
    
    .grid-gallery{
        margin: 0 auto;
        margin-top: 50px;
        width: 320px;
        // height: 575px;
        display: grid;
        grid-template-columns: repeat(1, 290px);
        grid-template-rows: repeat(6, 290px);
        grid-gap: 20px;
    }
    
    .gallery__img {
        // width: 100%;
        // height: 100%;
        object-fit: cover;
        overflow: hidden;
    
    }
    
    .gallery__img:hover {
        transform: scale(1.1);
        transition: transform .5s ease;
    }
    
    .gallery__item--1 {
        grid-column: 1/2;
        grid-row: 1/2;
        transition: transform .5s ease;
        overflow: hidden;
        object-fit:fill;
        width: 100%;
        height: 100%;
    }
    
    .gallery__item--2 {
        grid-column: 1/2;
        grid-row: 2/3;
        transition: transform .5s ease;
        overflow: hidden;
    }
    
    .gallery__item--3 {
        grid-column: 1/2;
        grid-row: 3/4;
        transition: transform .5s ease;
        overflow: hidden;
    }
    
    .gallery__item--4 {
        grid-column: 1/2;
        grid-row: 4/5;
        transition: transform .5s ease;
        overflow: hidden;
        object-fit:fill;
        width: 100%;
        height: 100%;
    }
    
    .gallery__item--5 {
        grid-column: 1/2;
        grid-row: 5/6;
        transition: transform .5s ease;
        overflow: hidden;
    }
    
    .gallery__item--6 {
        grid-column: 1/2;
        grid-row: 6/7;
        transition: transform .5s ease;
        overflow: hidden;
    }
}