.header{
    background-image: url(../../images/header/hero\ image@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // width: 100vw;
    height: 800px;
    padding-top: 55px;
    
}

// p , h1 {
//     color: aliceblue;
// }

