.header{
    background-image: url(../../images/header/hero\ image@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // width: 100vw;
    height: 800px;
    padding-top: 55px;
    
}

@media only screen and (max-width:320px){
    .header{
        width: 320px; height: 800px;
        background-image: url(../../images/header/hero-image-res.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;       
        padding-top: 20px;        
    }
}

