.our-foods{
    width: 100%;
    height: 800px;
    margin-top: 130px;
    // background-color: rgb(0, 195, 189);

    .title{
        text-align: center;  
        width: 100%;
        height: 62px;      
        h2{
            @include PrimaryFont (54px, 400, 54px);  
            span{
                color: #D67E34;
            }  
        }
    }

    .context{
        width: 100%;
        height: 474px;
        @include flexStyle( space-between, center, row);
        margin-top: 139px;

        .left{
            max-width: 474px;  
            img{
             height: 100%;   
            }        
        }

        .right{
            max-width: 680px;
            height: 474px;
            @include flexStyle( space-between, center, column);
            
            .price-card{
                width: 735px;
                height: 140px;
                @include flexStyle( space-between, center, row);
                
                .img{
                    width: 160px;
                    height: 140px;

                    img{
                        width: 100%;
                        height: 100%; 
                    }
                }


                .desc{
                    width: 500px;
                    @include flexStyle( space-between, center, row);    
                    p{
                        @include PrimaryFont(26px, 400, 30px)
                    }
                }
            }
       
        }
    }
}